<html>
    <body>
        <h1>Predict Bankruptcy</h1>
        <form action="/" method="post">
            <p>Please enter Net Profit over Total Asset ratio</p>
            <p><input type="number" step="0.01" name="NPTL"></p>
            <p>Please enter Total Liability over Total Asset ratio</p>
            <p><input type="number" step="0.01" name="TLTA"></p>
            <p>Please enter Working Captial Total Asset ratio</p>
            <p><input type="number" step="0.01" name="WCTA"></p>
            <p><input type="submit" value="enter"></p>
        </form>
        {{results}}
    </body>
</html>
